body{
    background-color: #084887;
}

#lista li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
    color: white !important;
}

a{
    color: white;
}

.texto{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #090C08;
}

.titulo{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

#encabezado{
    font-size: 70px;
}

.foto{
    border-radius: 30px;
}

.parrafo{
    margin: 160px;
    padding: 40px;
    background-color: #F7F5FB;
    border-radius: 50px;
}

table{
    background-color: #F9C784;
}

.texto1{
    padding: 20px;
    background-color: #F7F5FB;
    border-radius: 50px;
    font-size: 18px !important;
}